<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztest.mapper.MemberMapper">

<select id="selectLogin" parameterType="com.ztest.vo.Member" resultType="com.ztest.vo.Member">
		    SELECT 
				LOGIN_ID
				,NAME
			FROM MEMBER
			WHERE LOGIN_ID = #{login_id}
					AND	 PASSWD = #{passwd}
</select>

</mapper>